.container {
  width: 300px;
  background: yellowgreen;
}

.left-text {
  text-align: left;
  padding: 1rem;
}

.center-text {
  text-align: center;
  padding: 1rem;
}

.right-text {
  text-align: right;
  padding: 1rem;
}

.red-text-hover:hover {
  color: red;
}

.bold-hover:hover {
  font-weight: bold;
}

.underline-hover:hover {
 text-decoration: underline;
}

.text-size-hover:hover {
  font-size: 30px
}

.monospace-hover:hover {
  font-family: monospace;
}