body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background: green;
}
 
content {
  position: absolute;
  top: 100px;
  height: calc(100% - 200px);
  width: 100%;
}

.menu {
  position: absolute;
  width: 250px;
  height: 100%;
  background: gray;
}

.page {
  position: absolute;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  background: yellow;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: red;
}

@media (max-width: 600px) {
  .menu {
    display: none
  }

  .page {
    left: 0;
    width: 100%;
  }
} 