.container {
	margin: 100px auto;
	height: 600px;
	width: 600px;
	background-color: yellow;
}

.box {
	height: 200px;
	width: 200px;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
  background: blue;
}

.absolute-box {
  position: absolute;
  left: 400px;
  top: 200px;
  opacity: 1;
}