.pink-box {
  width: 500px;
  height: 100px;
  background: pink;
  border: 1rem yellowgreen solid;
}

.red-box{
  width: 20%;
  background: red;
}

.yellow-box{
  width: 30%;
  margin: 22px 0;
  background: yellow;
}

.blue-box{
  width: 50%;
  background: blue;
}

.pink-box:hover {
  width: 70%;
}