body {
  margin: 0;
}

header {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  background: rgb(219, 143, 0);
}

.right-button {
  display: block;
  float: right;
  padding: 0.5rem;
  background: whitesmoke;
  color: black;
  border: 2px black solid;
  font-size: 1rem;
}

.page-body {
  display: flex;
  height: CALC(100vh - 8rem);
  justify-content: space-between;
}

nav {
  width: 15%;
  background: yellow;
  overflow: auto;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin: 0.5rem 0;
  padding: 0.7rem;
  font-size: 1.5rem;
  color: whitesmoke;
  background-image: linear-gradient(rgb(163, 218, 138), green);
}

i {
  float: right;
}

.selected-button {
  background-image: linear-gradient(whitesmoke, blue);
}

main {
  width: 85%;
  background: rgb(129, 129, 255);
  color: whitesmoke;
}

.basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5rem;
}

.basic-info-item {
  width: 50%;
  box-sizing: border-box;
  margin: 0.5rem 0;
  padding: 0 0 0 20%;
}

.info-property {
  display: inline-block;
  width: 7rem;
  font-weight: bold;
}

.info-value {
  display: inline-block;
  width: 5rem;
  padding: 0.5rem;
  background: whitesmoke;
  color: black;
  border: 2px black solid;
}

.more-info-section {
  height: 40vh;
  margin: 2rem 0 0 0;
}

.person-img {
  float: left;
  height: 40vh;
  margin: 0 1rem;
}

.more-info {
  height: 40vh;
  margin: 0 1rem;
  overflow: auto;
  color:black;
  background: whitesmoke;
}

table {
  width: 100%;
}

td:nth-child(1) {
  width: 10rem;
}

.key-state-container {
  padding: 1rem 0 0 0;
}

.key-state-header {
  margin: 0 0 2rem 0;
  padding: 0.5rem;
  clear: both;
  text-align: center;
  font-size: 1.3rem;
  background: rgb(219, 143, 0);
}

.chart-container {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

.chart {
  display: inline-block;
  background: darkblue;
}

.c100 {
  margin: 1rem;
}

.chart-description {
  margin: 0.5rem;
  padding: 0.5rem;
  background: whitesmoke;
  color: black;
  border: 2px black solid;
  text-align: center;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: whitesmoke;
  background: rgb(219, 143, 0);
}
