.boardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  height: 400px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 32%;
  border: 2px black solid;
  font-size: 5rem;
  user-select: none;
}

.endMassage {
  font-size: 4rem;
}

.cellFlash {
  background: yellowgreen;
}

.cell:hover {
  background: rgb(220, 220, 220);
}
