.container {
	height: 600px;
	width: 600px;
	background-color: yellow;
	margin: 100px auto;
}

.box {
	height: 200px;
	width: 200px;
	float: left;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
  background: blue;
}

.black-border {
  border:	2px solid black;
  box-sizing: border-box;
}