
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  background: red;
  border: 5px black solid;
  transition: border-radius 1s;
}

.box:hover {
  border-radius: 50%;
}